@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.link-underline {
  position: relative;
  text-decoration: none;
}
.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#C2F, #C2F);
  background-size: 0% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  animation: underlineGrow 1s ease-in-out forwards;
}

.link-underline-black::after {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#4cb5a9, #4cb5a9);
}


@keyframes underlineGrow {
  from {
    background-size: 0% 3px;
  }
  to {
    background-size: 100% 3px;
  }
}